<header>
	<div class="video-overlay"></div>
	<!-- <video autoplay loop id="video-background" muted plays-inline><source src="img/video.mp4" type="video/mp4"> -->
	<!-- </video> -->
	<div class="overlay">
		<ul>
			<li>What</li>
			<li>makes</li>
			<li>you</li>
			<li>move?</li>
		</ul>
	</div>
	<a href="#" class="menu"><span>menu</span></a>
	<ul class="nav-links">
		<li><a href="index.html#!/scroll/about" class="scroll about">About</a></li>
		<li><a href="index.html#!/scroll/experience" class="scroll experience">Experience</a></li>
		<li><a href="index.html#!/scroll/projects" class="scroll projects">Projects</a></li>
		<li><a href="index.html#!/scroll/contact" ckass="scroll contact">Contact</a></li>
	</ul>
</header>