<header>
	<img src="img/logo/card-blue.png" alt="Logo" class="logo" />
	<div class="name">
		<h2>My name is</h2>
		<h1>Crystal Rhee</h1>
		<h2>Welcome</h2>
	</div>
	<a href="#" class="menu"><span>menu</span></a>
	<ul class="nav-links">
		<li><a href="index.html#!/scroll/about" class="scroll">About</a></li>
		<li><a href="index.html#!/scroll/experience" class="scroll">Experience</a></li>
		<li><a href="index.html#!/scroll/resume" class="scroll">Resume</a></li>
		<li class="modal-link"><a href="#!/modal/github" class="scroll">Github</a></li>
		<li class="modal-link"><a href="#!/modal/contact">Contact</a></li>
	</ul>
</header>