<header>
	<!-- <a href="#" class="menu"><span>menu</span></a> -->
	<img src="img/logo/card-blue.png" alt="Logo" class="logo" />
	<div class="name">
		<h2>Hi, I'm</h2>
		<h1>[ Crystal Rhee ]</h1>
	</div>
	<ul class="nav-links">
		<li><a href="index.html#!/scroll/section" class="scroll">About</a></li>
		<li><a href="index.html#!/scroll/section" class="scroll">Skills</a></li>
		<li><a href="index.html#!/scroll/section" class="scroll">Experience</a></li>
		<li><a href="index.html#!/scroll/section" class="scroll">Resume</a></li>
		<li class="modal-link"><a href="#!/modal/more">Contact</a></li>
		
		<!-- <li class="social instagram"><a href="https://www.instagram.com/" target="_blank">Instagram</a></li> -->
		<!-- <li class="social github"><a href="https://www.github.com/" target="_blank">Github</a></li> -->
	</ul>
</header>