@import "_mixins.scss"; // Include the CSS mixins
@import "_variables.scss"; // Include all variables for the site like fonts

header {
	background-color: $tertiary-dark;
	text-align: center;
	height: 100%;
	min-height: 500px;
	min-width: 100%;
	height: 100vh;
	z-index: 5;

	.logo {
		position: absolute;
		right: 50%;
		top: 50%;
		width: 300px;
		@include transform(translate(0%, -50%));
	}

	.name {
		color: $primary;
		left: 50%;
		margin: 0 5%;
		position: absolute;
		text-transform: uppercase;
		top: 50%;

		h2 {
			font: $MontRegularFull;
			font-size: 2.5em;
		}

		
		h1 {
			font:$MontBoldFull;
			font-size: 3em;
			line-height: 2em;

			&:hover {
				color: $primary-dark;
				@include transition(color .5s);
			}
		}
	}

	ul {
		bottom: 1.5em;
		display: flex;
		position: absolute;
		right: 0;
	}

	.fixed {
		position: fixed;
		top: 1.5em;
		z-index: 1;

		a {
			color: $tertiary-dark;
		}
	}
}

header, footer {
	display: flex;
	position: relative;
}

footer {
	
}